[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=showifip
Comment=showip
Exec=conky
Icon=/home/ti/Imagens/logo-brasopequeno.png
StartupNotify=false
Terminal=false
Categories=Network
